<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a 
        class="nav-link" 
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="OnMenuClick($event)"
      ><i class="icon-speedometer"></i> Dashboard </a>
    </li>

    <li class="nav-item nav-dropdown open">
      <!-- <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-location-pin"></i> Zone Management</a> -->
      <a
          class="nav-link nav-dropdown-toggle"
          [routerLink]="['/user-management']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
          <i class="icon-location-pin"></i>
          User Management
      </a>
      <ul class="nav-dropdown-items">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/user-management/users']" routerLinkActive="active"     
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="OnMenuClick($event)"><i class="icon-arrow-right-circle"></i> User List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-management/roles" routerLinkActive="active"><i class="icon-arrow-right-circle"></i> Role List</a>
    </li>
    </ul>
    </li>
    
  </ul>
</nav>
